.pos .preorderlist-screen .window,
.pos .preorderlist-screen .full-content .subwindow{
    display: block;
}
.pos .preorderlist-screen .full-content .subwindow-container{
    display: block;
    height: 100%;
}
.pos .preorderlist-screen .full-content .subwindow.collapsed,
.pos .preorderlist-screen .full-content .subwindow-container.collapsed{
    height: auto;
}


/* e) The Preorder List Screen */

.pos .preorderlist-screen .preorder-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .preorderlist-screen .preorder-list th,
.pos .preorderlist-screen .preorder-list td {
    padding: 0px 8px;
}
.pos .preorderlist-screen .preorder-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .preorderlist-screen .preorder-list thead > tr,
.pos .preorderlist-screen .preorder-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .preorderlist-screen .preorder-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .preorderlist-screen .preorder-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .preorderlist-screen .preorder-list tr.dulled{
    transition: all 150ms linear;
    color: #a1a1a1;
}
.pos .preorderlist-screen .preorder-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .preorderlist-screen .searchbox{
    right: auto;
    margin-left: -90px;
    margin-top:8px;
    left: 50%;
}
.pos .preorderlist-screen .searchbox input{
    width: 300px;
}

.pos .searchbox-preorder {
    padding: 3px 13px;
    margin-top: 12px;
    margin-bottom : 12px;
}

.pos .searchbox-preorder input {
    width: 120px;
    border: 1px solid #cecbcb;
    padding: 10px 20px;
    padding-left: 38px;
    padding-right: 33px;
    background-color: white;
    border-radius: 20px;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    font-size: 13px;
}
.pos .searchbox-preorder input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(153, 153, 255) inset;
    color: rgb(153, 153, 255);
}

.pos .search-clear-preorder {
    position: absolute;
    top: 9px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-clear-preorder.left {
    left: 11px;
    color: #808080;
}

.search-clear-preorder.right {
    left: 145px;
    color: #808080;
    cursor: pointer;
}
